.container-area {
    width: 250px;
    background-color: white;
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
}

.card-header {
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 10px;
}

.card-body {
    color: red;
    padding: 15px;
    font-size: 12px;
    text-align: start;
}

.d-inline {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.resend-btn {
    width: 80%;
    background-color: #3367d6;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .container-area {
        width: 500px;
        padding: 40px 15px;
    }

    .card-header {
        font-size: 20px;
    }

    .card-body {    
        padding: 15px 0;
        font-size: 16px;
    }

    .resend-btn {
        width: 250px;
        font-size: 14px;
        margin-top: 20px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 1200px) {
    .card-header {
        font-size: 20px;
    }

    .card-body {
        font-size: 18px;
    }

    .resend-btn {
        width: 400px;
        font-size: 16px;
    }
}
