.profile-area {
    width: 250px;
    margin: 40px auto 0;
    font-size: 12px;
}

.img-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 20px;
}

.preview-area {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgb(158, 157, 157);
    background-color: rgb(158, 157, 157);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.image-preview {
    display: none; /* 最初は非表示 */
    width: 100%;   /* プレビュー領域の幅いっぱいに表示 */
    height: 100%;  /* プレビュー領域の高さいっぱいに表示 */
    object-fit: cover; /* 画像を枠にフィットさせる */
    object-position: center; /* 画像の中心を基準にトリミング */
}

.file-upload {
    display: inline-block;
    cursor: pointer;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 5px;
    padding: 5px 15px;
}

.form-group:nth-last-child(1) {
    margin-bottom: 0;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .profile-area {
        width: 500px;
        font-size: 16px;
    }

    .preview-area {
        width: 65px;
        height: 65px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 1200px) {
    .profile-area {
        width: 700px;
        font-size: 20px;
    }
    
    .preview-area {
        width: 75px;
        height: 75px;
    }
}