.register-area {
    width: 250px;
    margin: 40px auto;
    font-size: 12px;
}

.form-group {
    margin-bottom: 15px;
    height: 40px;
}

.form-group:nth-last-child(2) {
    margin-bottom: 30px;
}

.label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    border: 1px solid #919191;
    border-radius: 3px;
    padding: 5px 10px;
}

.submit-btn {
    width: 100%;
    background-color: #FF5555;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.login-link {
    color: #008cff;
    text-align: center;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .register-area {
        width: 500px;
        font-size: 16px;
    }

    .form-group {
        height: 60px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 1200px) {
    .register-area {
        width: 700px;
        font-size: 20px;
    }

    .form-group {
        height: 80px;
    }
}