.register-area {
    width: 300px;
    margin: 40px auto;
    font-size: 12px;
}

.ttl {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:nth-last-child(2) {
    margin-bottom: 40px;
}

.label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    border: 1px solid #919191;
    border-radius: 3px;
    padding: 5px 10px;
}

.submit-btn {
    width: 100%;
    background-color: #FF5555;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.login-link {
    margin-top: 15px;
    color: #008cff;
    text-align: center;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 481px) {
    .register-area {
        width: 350px;
        font-size: 16px;
    }

    .ttl {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .register-area {
        width: 600px;
        font-size: 20px;
    }

    .ttl {
        font-size: 24px;
        margin-bottom: 50px;
    }
}