.thanks-area {
    width: 250px;
    margin: 40px auto;
    font-size: 12px;
}

.thanks-ttl {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.thanks-msg {
    line-height: 1.5;
}

.highlight {
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    background: linear-gradient(transparent 50%, #fddb8a 50%);
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .thanks-area {
        width: 500px;
        font-size: 16px;
    }

    .thanks-ttl {
        font-size: 18px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 1200px) {
    .thanks-area {
        width: 700px;
        font-size: 20px;
    }

    .thanks-ttl {
        font-size: 22px;
    }
}