.header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.log {
    width: 20%;
}

.log-img{
    width: 100%;
    vertical-align: middle;
}

.search-bar {
    width: 30%;
    background-color: white;
    border-radius: 5px;
    font-size: 8px;
}

.input-area {
    width: 100%;
    padding: 5px 10px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav {
    width: 45%;
    text-align: center;
    color: white;
    font-size: 8px;
}

.login,
.logout,
.my-page {
    padding: 5px 10px;
}

.exhibit {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}

.error {
    display: block;
    color: red;
}

.ttl {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 481px) {
    .search-bar {
        width: 35%;
        font-size: 10px;
    }

    .nav {
        width: 40%;
        font-size: 11px;
    }

    .ttl {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .header {
        padding: 15px 20px;
    }

    .log {
        width: 15%;
    }

    .search-bar {
        width: 30%;
        font-size: 18px;
    }

    .input-area {
        width: 100%;
        padding: 10px;
    }

    .nav {
        font-size: 18px;
    }

    .login,
    .logout,
    .my-page {
        padding: 10px;
    }

    .exhibit {
        padding: 10px 20px;
    }

    .ttl {
        font-size: 24px;
        margin-bottom: 50px;
    }

}