.item-content {
    font-size: 12px;
}

.tab {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.suggest-item {
    margin: 0 5% 0 15%;
}

.suggest-item.span{
    margin: 0 5% 0 15%;
    color: #FF5555;
    font-weight: bold;
}

.my-list.span {
    color: #FF5555;
    font-weight: bold;
}

.item-card {
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 48%; 
}

.card-top,
.card-img {
    width: 100%;
    height:140px;
    border-radius: 5px;
}

.item-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 5px 0;
}

.item-name {
    padding: 5px 0;
}

.stock-status.sold {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .item-content {
        font-size: 16px;
    }

    .tab {
        margin: 30px 0;
    }
    
    .item-card {
        width: 94%;
        margin: 3%;
        justify-content: flex-start;
    }

    .card {
        width: 24%;
        margin-right: 1.25%; 
    }

    .card:nth-child(4n) {
        width: 24%;
        margin-right: 0; 
    }

    .card-top,
    .card-img {
        height: 160px;
    }

    .item-description {
        margin-bottom: 30px;
        padding: 10px 0;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 1200px) {
    .item-content {
        font-size: 20px;
    }
}