.item-content {
    font-size: 12px;
}

.suggest-item {
    margin: 0 5% 0 15%;
}

.suggest-item.span {
    margin: 0 5% 0 15%;
    color: #FF5555;
    font-weight: bold;
}

.my-list.span {
    color: #FF5555;
    font-weight: bold;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .item-content {
        font-size: 16px;
    }
}

/* モバイルサイズのレスポンシブ */
@media screen and (max-width: 767px) {
    .item-content {
        font-size: 14px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 1200px) {
    .item-content {
        font-size: 20px;
    }

}
