.detail-flex {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    font-size: 12px;
}

.item-img {
    width: 45%;
}

.card-img {
    width: 100%;
    margin: 10px 0;
}

.item-detail {
    width: 50%;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
}

.item-brand {
    font-size: 10px;
    margin: 5px 0;
}

.item-price {
    margin: 10px 0;
}

.price {
    font-size: 14px;
}

.image-flex {
    display: flex;
}

.favorite-btn,
.comment-link {
    cursor: pointer;
}

.btn-image {
    width: 15px;
    margin: 0 10px;
}

.count {
    text-align: center;
    padding: 5px 0;
    font-size: 8px;
}

.purchase-btn,
.purchase-btn.disabled {
    width: 100%;
    background-color: #FF5555;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin: 5px 0;
    border-radius: 5px;
}

.description-ttl,
.info-ttl,
.comment-ttl {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.detail {
    width: 100%;
    height: 5vh;
}

.category {
    margin-bottom: 10px;
}

.category-ttl,
.condition-ttl {
    font-weight: bold;
    margin: 5px 0;
}

.select-category {
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 2px 10px;
    display: inline-block;
    margin: 2px;
}

.item-condition {
    margin: 5px;
}

.comment-view {
    margin-bottom: 10px;
}

.comment-ttl {
    color: gray;
    margin: 20px 0 10px;
}

.comment-flex{
    display: flex;
    align-items: center;
}

.profile-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.default-profile-image {
    background-color: #d3d3d3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.name {
    margin: 0 10px;
    font-weight: bold;
}

.comment {
    margin: 5px 0 10px;
}

.comment-sent {
    margin: 10px 0;
}

.sent-ttl {
    font-size: 12px;
    font-weight: bold;
}

.comment-textarea {
    width: 100%;
    font-size: 10px;
    border: 1px solid black;
    padding: 5px;
}

/* タブレットサイズのレスポンシブ */
@media screen and (min-width: 481px) {
    .detail-flex {
        font-size: 14px;
    }
    
    .item-img {
        width: 42%;
    }

    .item-detail {
        width: 54%;
    }

    .item-name {
        font-size: 18px;
    }

    .item-brand {
        font-size: 12px;
    }

    .price {
        font-size: 16px;
    }

    .btn-image {
        width: 20px;
    }

    .count {
        font-size: 12px;
    }

    .description-ttl,
    .info-ttl,
    .comment-ttl {
        font-size: 16px;
    }

    .detail {
        height: 8vh;
    }

    .profile-img {
        width: 25px;
        height: 25px;
    }

    .default-profile-image {
        width: 25px;
        height: 25px;
    }

    .comment-sent {
        margin: 20px 0;
    }

    .sent-ttl {
        font-size: 14px;
    }

    .comment-textarea {
        font-size: 12px;
    }
}

/* デスクトップサイズのレスポンシブ */
@media screen and (min-width: 768px) {
    .detail-flex {
        margin: 3% 5%;
        font-size: 16px;
    }
    
    .item-img {
        width: 43%;
    }

    .item-detail {
        width: 52%;
    }

    .item-name {
        font-size: 24px;
    }

    .item-brand {
        font-size: 14px;
    }

    .price {
        font-size: 22px;
    }

    .btn-image {
        width: 25px;
    }

    .count {
        font-size: 16px;
    }

    .description-ttl,
    .info-ttl,
    .comment-ttl {
        font-size: 20px;
    }

    .detail {
        height: 5vh;
    }

    .profile-img {
        width: 30px;
        height: 30px;
    }

    .default-profile-image {
        width: 30px;
        height: 30px;
    }

    .sent-ttl {
        font-size: 18px;
    }

    .comment-textarea {
        font-size: 16px;
    }
}