.purchase {
    font-size: 12px;
    width: 90%;
    margin: 25px auto;
}

.purchase-info {
    width: 80%;
    margin: 0 auto;
}

.purchase-view {
    width: 80%;
    margin: 20px auto;
}

.item-info,
.payment,
.address {
    border-bottom: 1px solid black;
}

.payment,
.address {
    padding: 15px;
}

.item-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.item-img {
    width: 40%;
    max-width: 150px;
}

.item {
    width: 55%;
}

.item-name,
.payment-ttl,
.address-ttl {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
}

.payment-select {
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.payment-select:focus {
    outline: none;
}

.toggle {
    width: 10px;
    position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.address-flex {
    display: flex;
    justify-content: space-between;
}

.address-change {
    color: blue;
}

.profile-address {
    margin-left: 10px;
    margin-bottom: 10px;
}

.price-view,
.payment-method {
    border: 1px solid black;
    display: flex;
    padding: 15px;
}

.payment-method {
    border-top: none;
}

.price-ttl,
.method-ttl {
    width: 45%;
    text-align: center;
}

.purchase-btn {
    width: 100%;
    background-color: #FF5555;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin: 30px 0;
    border-radius: 5px;
}


@media screen and (min-width: 768px) {
    .purchase {
        font-size: 16px;
        margin: 55px auto;
        max-width: 765px;
    }

    .purchase-flex {
        display: flex;
        justify-content: space-between;
    }

    .purchase-info {
        width: 55%;
        max-width: 440px;
        margin: 0;
    }

    .purchase-view {
        width: 40%;
        max-width: 320px;
        margin: 0;
    }

    .item-img {
        max-width: 250px;
    }

    .item-name,
    .price,
    .item-name,
    .payment-ttl,
    .address-ttl  {
        font-size: 18px;
    }

    .select {
        width: 250px;
    }

    .payment-select,
    .profile-address {
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .price-view,
    .payment-method {
        padding: 25px 15px;
    }
}

@media screen and (min-width: 1200px) {
    .purchase {
        font-size: 18px;
        max-width: 1080px;
    }


    .purchase-info {
        max-width: 550px;
    }

    .purchase-view {
        width: 40%;
        max-width: 520px;
        margin: 0;
    }

    .item-name,
    .price,
    .item-name,
    .payment-ttl,
    .address-ttl  {
        font-size: 20px;
    }
}
