.sell-area {
    width: 80%;
    margin: 25px auto;
    font-size: 12px;
}

.image-container {
    width: 100%;
    height: 200px;
}

.image-ttl,
.category-ttl,
.condition-ttl,
.item-ttl {
    font-weight: bold;
    margin: 15px 20px 10px 0;
}

.image-upload-container {
    border: 2px dashed #ddd;
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.select-button {
    background-color: #fff;
    border: 1px solid #FF5555;
    color: #FF5555;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.image-preview-container {
    width: 100%; /* 枠全体の幅 */
    height: 100%; /* 枠全体の高さ */
    display: flex;
    justify-content: center; /* 水平方向のセンタリング */
    align-items: center; /* 垂直方向のセンタリング */
    overflow: hidden; /* 枠から画像がはみ出ないようにする */
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 枠全体に画像を表示し、比率を保つ */
}

.item-detail-container {
    width: 100%;
    height: 300px;
}

.detail-ttl {
    font-size: 14px;
    color: rgb(107, 106, 106);
    border-bottom: 1px solid rgb(107, 106, 106);
    line-height: 1.5;
    font-weight: bold;
}

.category-container,
.item-container {
    width: 100%;
    height: 300px;
}

.category-select {
    width: 100%;
    height: 170px;
}

.categories {
    display: flex;
    flex-wrap: wrap; /* ボタンを折り返し */
    gap: 6px; /* ボタン間の余白 */
    font-size: 10px;
    margin: 0 5px;
}

.category {
    border: 1px solid #FF5555;
    color: #FF5555;
    padding: 5px 15px;
    border-radius: 30px; /* 丸みを追加 */
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease; /* アニメーション効果 */
}

.category:hover {
    background-color: white; /* ホバー時の背景色 */
}

.category.active {
    background-color: #FF5555; /* 選択時の背景色 */
    color: white; /* 選択時の文字色 */
    border-color: #FF5555;
}

.condition {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>') no-repeat;
    background-size: 10px; /* アイコンのサイズ */
    background-position: right 10px center; /* アイコンの位置 */
    background-color: #fff; /* 背景色 */
    cursor: pointer;
}

.condition-select,
.item-name,
.item-price {
    width: 100%;
    height: 100px;
}

.item_name,
.price {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.item-description {
    width: 100%;
    height: 130px;
}

.description {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-wrapper input {
    padding-left: 20px; /* ￥マークのスペース */
}

.submit {
    width: 100%;
    padding: 5px;
    background-color: #FF5555;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 40px 0;
}

.flex {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .sell-area {
        width: 600px;
        font-size: 16px;
    }

    .select-button {
        font-size: 18px;
    }

    .item-detail-container {
        width: 100%;
        height: 330px;
    }

    .category-select {
        height: 160px;
    }


    .detail-ttl {
        font-size: 18px;
    }

    .categories {
        gap: 10px; /* ボタン間の余白 */
        font-size: 14px;
    }

    .item_name,
    .price {
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .item-description {
        width: 100%;
        height: 120px;
    }

    .description {
        width: 100%;
        height: 80px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .sell-area {
        font-size: 18px;
        width: 650px;
    }

    .select-button {
        font-size: 20px;
    }

    .detail-ttl {
        font-size: 20px;
    }

    .categories {
        font-size: 16px;
    }


    .item-container {
        height: 320px;
    }

}